<!--suppress ALL -->
<article class="container container-fluid p-3 bg-light d-flex flex-column">
  <header>
    <h3 class="text-secondary">Projects list</h3>

  </header>
  <div class="d-flex align-items-center justify-content-around">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="selectedLevel" placeholder="Level" (change)="fillTable()">
        <mat-option *ngFor="let level of levels" [value]="level.levelkeyid">
          <span *ngFor="let i of emptyArray(level.level).fill(1)">-</span>
          <span [class]=" 'level-' + level.level ">{{ level.name }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox
      (change)="fillTable()"
      [(ngModel)]="includeInactive"
      labelPosition="before">
      {{'PROJECTS.INCLUDE_INACTIVE' | translate}}
    </mat-checkbox>
  </div>
  <section>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PROJECTS.ID'| translate }} / {{ 'PROJECTS.CODE'|
          translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}} / {{element.code}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PROJECTS.NAME'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="place">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PROJECTS.PLACE'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.place}}<br>{{element.city}} {{element.country}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PROJECTS.START'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.start}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PROJECTS.END'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.end}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef>{{ 'PROJECTS.DETAILS'| translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element">

          <button mat-icon-button (click)="editProject(element)"
                  matTooltip="{{ 'PROJECTS.EDIT'| translate: element }}" matTooltipPosition="above">
            <mat-icon svgIcon="edit" aria-label="Edit Project"></mat-icon>
          </button>
          <button mat-icon-button (click)="editProject(element)"
                  matTooltip="{{ 'PROJECTS.ALARMS_EDIT'| translate: element }}" matTooltipPosition="above">
            <mat-icon svgIcon="alert" aria-label="show Alert"></mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <div class="rows">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;paginator"></mat-row>
      </div>
    </mat-table>
  </section>
  <footer>
    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[10,20,50]"
    ></mat-paginator>
  </footer>
</article>
