@import 'variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/font/materialIcons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

html {
  font-size: 0.9rem;
}

body {
  position: relative;
  font-size: inherit;
}

/**
Custom Material and bootstrap overide
 */
.btn, .dropdown-menu, .form-control, .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  border-radius: 0 !important;
}
.navbar{
  padding: 0 1rem;
}
.btn.btn-primary, .btn.btn-info {
  color: #fff;
}
.mat-horizontal-stepper-header-container{
  background-color: $primary;
}

mat-table mat-row:nth-child(even) {
  background-color: $light;
}

.mat-horizontal-stepper-header {
  height: 46px !important;
}

.mat-step-label {
  font-size: 1rem;
}
.mat-horizontal-stepper-header-container{
  background-color: $primary;
}
.mat-step-header .mat-step-label.mat-step-label-active{
  color: $light;
}
.mat-step-header .mat-step-icon,.mat-step-header .mat-step-icon-not-touched{
  background-color: $secondary;
}
.mat-horizontal-content-container{
  padding: 0!important;
}
/**
 Responsive
 */
@media screen and (max-width: 1440px) {
  html {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 0.80rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 0.70rem;
  }
}
