@import 'variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

html {
  font-size: 1rem;
}
body {
  position: relative;
  font-size: inherit;
}

.btn, .dropdown-menu, .form-control {
  border-radius: 0;
}


@media screen and (max-width: 1440px) {
  html {
    font-size: 0.98rem;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 0.80rem;
  }
}

